<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta charset="UTF-8" />
    <title>Work Carpool</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body class="grey lighten-3">
    <div id="listaDeAlunos">
        <h3 class="main-title center">List of Workers</h3>
        <div class="container">
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th style="text-align: center;">First Name</th>
                        <th style="text-align: center;">Last Name</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tr th:each="worker : ${workers}">
                    <td style="text-align: center;"><span th:text="${worker.firstName}"></span></td>
                    <td style="text-align: center;"><span th:text="${worker.lastName}"></span></td>
          <td style="text-align: center;">
            <a th:href="@{'/worker/view/' + ${worker.id}}" title="View">
              <i class="tiny material-icons ">perm_contact_calendar</i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div><!-- Fim DIV listar alunos -->
  <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>

</body>
</html>