<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
	<title>Work Carpool</title>
</head>

<body class="gray lighteen-3">
	<h1 class="main-title center">Welcome to Work Carpool</h1>

	<div class="row center">
		<div class="col s12 m4 l4 waves-effect waves-light">
			<a href="/worker/register">
				<div class="card-panel hoverable z-depth-1 center gray lighten-4">
					<i class="large material-icons">perm_identity</i>
					<div class="truncate">Register Workers</div>
				</div>
			</a>
		</div>
	</div>
	
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>